.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.center {
	position: absolute;
	left: 29%;
	letter-spacing: 2px;
}
.font {
	letter-spacing: 0;
	background-color: #E8E3E3;
	color: #EA144C;
}
.paragraphLength {
	white-space:normal;
	width: 900px;
}
.fontLeft {
	text-align: left;
}
